.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}
.reg {
	text-align:right;
}

.up-in {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
}

.searchbar {
	position:absolute;
	right: 10px;
  margin-top: 7.5px;
}
.click:hover {
  cursor: pointer
}